<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackson.ktmovie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.ConstraintLayoutActivity"></activity>
        <activity android:name=".view.activity.kotlinbase.UseArrayActivity" />
        <activity android:name=".view.activity.kotlinbase.BaseUseFunctionActivity" />
        <activity android:name=".view.activity.kotlinbase.ClassUseActivity" />
        <activity android:name=".view.activity.kotlinbase.DemoKotlinActivity" />
        <activity android:name=".view.activity.kotlinbase.BaseOneActivity" />
        <activity android:name=".view.activity.kotlinbase.BaseKotlinUseActivity" />
        <activity android:name=".view.activity.kotlinbase.KotlinBaseActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.BaseActivity" />
    </application>

</manifest>